* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

.background {
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

.foto {
    margin: 30px 0 0 30px;
    width: 70%;
    height: auto;
}

.photo {
    text-align: center;
    width: 20vw;
    margin: 0 20px 0 20px;
    border: 1px solid #556573;
    padding: 10px 30px 10px 0;
}

.footer-one {
    margin-top: 40px;
    height: 100px;
    width: 100vw;
    background-color: #8C7B74;
}

.footer-two {
    margin-top: 40px;
    height: 100px;
    background-color: #D9C4B8;
    width: 100vw;
}

.hobby {
    width: 20vw;
    text-align: center;
    font-size: 16px;
    color: #556573;
    margin: 0 20px 0 10px;
    border: 1px solid #556573;
    padding: 10px;
}

.hobbies {
    margin-top: 20px;
}

.container {
    display: flex;
}

.right {
    width: 20vw;
    text-align: center;
    margin: 0 20px 0 10px;
    border: 1px solid #556573;
    padding: 10px 30px 10px 10px;
}

.center {
    width: 20vw;
    text-align: center;
    margin: 0 20px 0 10px;
    border: 1px solid #556573;
    padding: 10px 30px 10px 10px;
}

.left {
    width: 20vw;
    margin: 0 20px 0 10px;
    padding: 10px 30px 10px 10px;
    text-align: center;
    border: 1px solid #556573;
}

.icon {
    margin: 20px 0 0 30px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

h4 {
    padding: 30px;
    text-align: center;
    font-size: 28px;
    color: #556573;
}

h3 {
    padding: 30px 0 0 30px;
    font-size: 24px;
    color: #556573;
}

h2 {
    font-size: 18px;
    color: #556573;;
}

p.duration {
    font-size: 16px;
    color: #2F3840;
}

.contatos div {
    display: inline-block;
}

.phone {
    font-size: 16px;
    color: #556573;
}

.email {
    font-size: 16px;
    color: #556573;
}

.skill {
    padding: 20px 0 0 30px;
    font-size: 16px;
    color: #556573;
}

.instituicao {
    color: #2F3840;
}

.language {
    padding: 20px 0 0 30px;
    font-size: 16px;
    color: #556573;
}

article {
    padding: 20px 0 0 30px;
}

.title {
    padding-top: 20px;
}